.Overlay {
	position: fixed;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0 0 0 / .5);
	backdrop-filter: blur(.5em);
	z-index: 2;
}

.Overlay::after {
	content: '×';
	z-index: 3;
	font-size: 3em;
	color: var(--full-image-cross-color);
	position: absolute;
	right: 1rem;
	cursor: pointer;
}