.Overlay {
	position: fixed;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0 0 0 / .5);
	z-index: 2;
}

.Overlay::after {
	content: '✖';
	z-index: 3;
	color: var(--full-image-cross-color);
	position: absolute;
	top: 1em;
	right: 1em;
	cursor: pointer;
}