.Nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.LinkBlock {
  position: relative;
}

.LinkBlock, .SubMenu {
  border-radius: .5em;
}

/* Link */
.Link {
  display: block;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.Link, .SubLink {
  color: var(--nav-text-color);
}

.Active {
  border-radius: unset;
  border-bottom: 1px dashed var(--nav-active-color);
  width: fit-content;
}

.Active .Link, .Active .SubMenuLink {
  color: var(--nav-active-color);
}

.Link:not(.Link[aria-haspopup="true"]):hover, .SubMenuLink:hover {
  color: var(--nav-link-hover);
  border-bottom: 1px solid var(--nav-hover-border-bottom);
}

/* SubMenu */
.SubMenu {
  visibility: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: var(--nav-background);
  margin: 0;
	z-index: 1;
  border: 1px solid var(--nav-text-color);
  padding: 1ch 2ch 1ch;
  left: calc(-1rem / 2);
  transition: all .4s ease-in-out;
}

.LinkBlock:hover .Link[aria-haspopup="true"] + .SubMenu,
.Link[aria-haspopup="true"]:focus-visible + .SubMenu {
  visibility: visible;
}

.SubMenuList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.SubMenuListItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SubMenuLink {
  font-size: 1.25rem;
  color: var(--nav-text-color);
}
