.Nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.LinkBlock {
  position: relative;
}

/* Link */
.Link {
  text-decoration: underline;
}

/* SubMenu */
.SubMenu {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
}

.LinkBlock[data-has-submenu="true"]:hover .SubMenu {
  display: flex;
}

.LinkBlock[data-has-submenu="true"] .SubMenu .SubMenuList .SubMenuListItem .Link:hover {
  color: tomato;
}

.SubMenuList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}