/* Верх */

.Cities__Header {
	text-align: center;
	font-size: 2.5em;
}

.Cities__Back {
	transform: rotate(270deg);
	position: absolute;
	left: 2em;
	cursor: pointer;
	fill: var(--color);
}

.Stepper {
	margin: 0;
	padding: 1rem 0;
	scroll-snap-type: y proximity;
	scroll-behavior: smooth;
}

@media screen and (max-width: 425px) {
	.Cities__Header {
		font-size: 1.5em;
	}
	
	.Cities__Back {
		width: 2rem;
		height: 2rem;
	}
}