.Stepper__Item {
	display: flex;
	gap: 1.5rem;
}

.Stepper__Content {
	order: 1;
	padding-bottom: 10vw;
	position: relative;
	flex: 1;
	padding-left: 1rem;
	scroll-snap-align: start;
}

.Stepper__Title {
	margin: 0;
}

/* Separator */

.Stepper__Item .Stepper__Content:before {
	content: '';
	position: absolute;
	right: 100%;
	top: 0;
	height: 100%;
	width: 2px;
	background-color: var(--stepper-separator);
}

@media (prefers-color-scheme: dark) {
	.Stepper__Item .Stepper__Content:before {
		box-shadow: var(--glowing-shadow);
	}
}

/* Circle */

.Stepper__Content:after {
	content: "";
	position: absolute;
	left: -12px;
	width: 20px;
	height: 20px;
	background-color: var(--background);
	z-index: 1;
	border: 2px solid var(--stepper-separator);
	border-radius: 50%;
}

.Stepper__Short {
	font-size: 1.25rem;
}

.Stepper__Time {
	flex: 0 0 100px;
	text-align: end;
	min-width: 0;
	overflow-wrap: break-word;
	padding-bottom: 1rem;
}

.Stepper__Description {
	cursor: pointer;
	position: relative;
	max-width: 75vw;
	display: -moz-box;
	display: -webkit-box;
	line-clamp: 3;
	-webkit-line-clamp: 3;
	-moz-line-clamp: 3;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Stepper__Description:hover {
	color: var(--stepper-description-hovered);
}

.Stepper__Description_Expanded {
	line-clamp: 100;
	-webkit-line-clamp: 100;
	-moz-line-clamp: 100;
}

.Stepper__Images {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	max-width: 100%;
}

.Stepper__Image {
	border-radius: .25em;
	cursor: pointer;
}

@media screen and (max-width: 425px) {
	.Stepper__Title {
		font-size: 1.2em;
	}

	.Stepper__Short {
		font-size: 1em;
	}

	.Stepper__Description {
		font-size: .8em;
	}

	.Stepper__Time {
		flex: 0 0 3rem;
		font-size: .8em;
	}
}