.Overlay {
	display: flex;
	justify-content: space-between;
	position: fixed;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0 0 0 / .5);
	backdrop-filter: blur(.5em);
	z-index: 2;
}

.Overlay::after {
	content: '×';
	z-index: 3;
	font-size: 3em;
	color: var(--full-image-cross-color);
	position: absolute;
	right: 1rem;
	cursor: pointer;
}

.FullImage {
	position: relative;
	width: 100vw;
	height: 100vh;
	touch-action: none;
}

.SlideImageLeft {
	animation: slideLeft 0.5s ease-in;
}

.SlideImageRight {
	animation: slideRight 0.5s ease-in;
}

@keyframes slideLeft {
	50% { left: 0; }
	100% { left: -100vw; }
}

@keyframes slideRight {
	50% { right: 0; }
	100% { right: -100vw; }
}

@media screen and (min-width: 768px) {
	.Overlay__Arrows {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 50%;
		transform: translateY(calc(50% - 3em));
		fill: var(--background);
		border: none;
		background: none;
		margin: 3em .5em 0;
		cursor: pointer;
		z-index: 3;
	}
	
	.ArrowBack {
		transform: rotate(180deg);
	}
	
	.ArrowHidden {
		visibility: hidden;
	}
}

@media screen and (max-width: 768px) {
	.Overlay__Arrows, .ArrowHidden, .ArrowBack {
		display: none;
	}
}