.Gallery {
	display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	padding: .5em;
}

.ImageContainer {
	border-radius: .25em;
	cursor: pointer;
}

.GoUp {
	position: fixed;
	bottom: 24px;
	right: 24px;
	cursor: pointer;
	width: inherit;
	height: inherit;
	filter: drop-shadow(var(--scroll-top-shadow)) invert(1);
}