html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Caveat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, cursive;
}

:root {
  --nav-text-color: black;
  --nav-link-hover: orange;
  --nav-hover-border-bottom: tomato;
  --nav-active-color: red;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
