html, body {
	background-color: var(--background);
	color: var(--color);
  padding: 0;
	scroll-behavior: smooth;
  margin: 0;
  font-family: 'Caveat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, cursive;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: black;
		--color: white;

		--nav-text-color: white;
		--nav-link-hover: coral;
		--nav-hover-border-bottom: tomato;
		--nav-active-color: red;
		--nav-background: black;
	
		--nav-mobile-expanded-shadow: black;
		--nav-mobile-expanded-border: black;
		--nav-mobile-link-underline: indianred;
		--nav-mobile-burger-stroke: #d3531a;
	
		--full-image-cross-color: white;
		--gallery-image-shadow: rgb(256 256 256 / 70%);
		--glowing-shadow: 2px 4px 6px white;

		--stepper-separator: #d3d3d3;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--background: white;
		--color: black;

		--nav-text-color: black;
		--nav-link-hover: orange;
		--nav-hover-border-bottom: tomato;
		--nav-active-color: red;
		--nav-background: white;
	
		--nav-mobile-expanded-shadow: black;
		--nav-mobile-expanded-border: black;
		--nav-mobile-link-underline: indianred;
		--nav-mobile-burger-stroke: #d3531a;
	
		--full-image-cross-color: white;
		--gallery-image-shadow: rgb(0 0 0 / 70%);
		--overlay-tiles-shadow: rgb(202 207 204 / 80%);
		--glowing-shadow: 2px 4px 6px black;

		--stepper-separator: #d3d3d3;
	}
}

a {
  color: inherit;
  text-decoration: none;
}
